<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script type="text/javascript" src="libs/angular.min.js"></script>
    <script type="text/javascript" src="libs/app.js"></script>
  </head>
<body ng-controller="LunchCheckController">
   <div class="container">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input ng-model="lunchmenu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="displayMess();">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <h1>{{mess}}</h1>
         </div>
   </div>

</body>
</html>
